<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="SocketServer" type="FlyingSocket.Server.FlyingSocketConfig, FlyingSocket" allowDefinition="Everywhere" allowLocation="true" />
    </configSections>
    <appSettings>
        <add key="listen_port" value="8099"/>
    </appSettings>
    <!--Socket服务器配置-->
    <SocketServer ServerName="TestServer" Port="52520" MaxConnections="8000" BufferSize="4096" Timeout="120000"></SocketServer>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>